## Challenge: Exercise 2

In [131]:
import pandas as pd
from pandas import DataFrame,Series
import bz2

In [132]:
files_path="/home/dsc/Repositories/Master-in-Data-Science/Data/"
bookings_file = bz2.BZ2File(files_path+"bookings.csv.bz2")

#### Top 10 arrival airports by number of passangers

In [133]:
# Optimization of memory usage including chunksize parameter

book_chunks = pd.read_csv(bookings_file, sep='^', chunksize=1e5, usecols=['arr_port','pax'])
for chunk in book_chunks:
    print (len(chunk))

final_df = DataFrame(columns=['arr_port','pax'])
for chunk in bookings_df:
    int_df = chunk.groupby('arr_port').sum().reset_index()
    final_df = final_df.append(int_df,ignore_index=True)
    final_df = final_df.groupby('arr_port').sum().reset_index()

final_df = final_df.sort('pax',ascending=False).head(10)
print
final_df

      arr_port    pax
1088  LHR       88809
1190  MCO       70930
1050  LAX       70530
1047  LAS       69630
886   JFK       66270
315   CDG       64490
216   BKK       59460
1228  MIA       58150
1719  SFO       58000
517   DXB       55590

#### To add name of the airport using GeoBases

In [134]:
from GeoBases import GeoBase
geo_a = GeoBase(data='airports',verbose=False)

In [136]:
# It is necessary the usage of strip function because arr_port elements contain blanks

final_df['name'] = final_df['arr_port'].apply(lambda s: geo_a.get(s.strip(),'name'))
print
final_df

      arr_port    pax                                  name
1088  LHR       88809               London Heathrow Airport
1190  MCO       70930         Orlando International Airport
1050  LAX       70530     Los Angeles International Airport
1047  LAS       69630        McCarran International Airport
886   JFK       66270  John F Kennedy International Airport
315   CDG       64490             Paris - Charles-de-Gaulle
216   BKK       59460                          Suvarnabhumi
1228  MIA       58150           Miami International Airport
1719  SFO       58000   San Francisco International Airport
517   DXB       55590           Dubai International Airport