In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
!ls -l

total 1013892
-rwxr-xr-x. 1 dsc vboxsf 554970628 Dec 31  2015 bookings.csv.bz2
-rw-r--r--. 1 dsc vboxsf     42505 Dec 30 01:34 mini_bookings.csv
-rwxr-xr-x. 1 dsc vboxsf 483188920 Dec 31  2015 searches.csv.bz2
-rw-r--r--. 1 dsc vboxsf        72 Dec 30 01:54 solution_challenge_exercise_02.ipynb
-rw-r--r--. 1 dsc vboxsf      2367 Dec 30 01:32 Untitled.ipynb

In [3]:
import bz2

In [76]:
df1 = pd.read_csv('bookings.csv.bz2', sep='^', nrows=100000)

In [77]:
gb1 =df1.groupby('arr_port')

In [78]:
s1 = gb1['pax'].sum()
s1.head()

arr_port
AAE          2
AAL         16
AAQ          5
AAR          4
ABE         16
Name: pax, dtype: int64

In [90]:
# I create a DataFreme
sol1 = s1.reset_index()
sol1.sort('pax', ascending=False).head(10)

      arr_port   pax
733   LHR       1006
798   MCO        861
620   JFK        795
706   LAX        761
156   BKK        747
704   LAS        732
1159  SFO        705
957   ORD        686
232   CDG        676
366   DXB        587

In [80]:
df2 = pd.read_csv('bookings.csv.bz2', sep='^', usecols=['arr_port','pax'])

In [81]:
len(df2)

10000010

In [83]:
gr2 = df2.groupby('arr_port')

In [167]:
sol2 = gr2['pax'].sum()
sol2 = DataFrame(sol2).sort('pax',ascending=False).head(10)
# Mirar ignore_index
sol2.head(10)

            pax
arr_port
LHR       88809
MCO       70930
LAX       70530
LAS       69630
JFK       66270
CDG       64490
BKK       59460
MIA       58150
SFO       58000
DXB       55590

In [138]:
h

In [139]:
g = GeoBase(data='ori_por', verbose=False)

In [140]:
print g.get('MAD')['city_name_ascii']
print g.get('MAD')['city_name_utf']
print g.get('MAD')['name']

Madrid
Madrid
Madrid / Barajas

In [147]:
names = []
for port in sol2['arr_port']:
    names.append(g.get(port.strip())['name'])
names

['London Heathrow Airport',
 'Orlando International Airport',
 'Los Angeles International Airport',
 'Mc Carran International Airport',
 'John F Kennedy International Airport',
 'Paris - Charles-de-Gaulle',
 'Suvarnabhumi',
 'Miami International Airport',
 'San Francisco International Airport',
 'Dubai International Airport']

In [148]:
sol2.arr_port.apply(lambda a: g.get(a.strip())['city_name_ascii'])

1088           London
1190          Orlando
1050      Los Angeles
1047        Las Vegas
886     New York City
315             Paris
216           Bangkok
1228            Miami
1719    San Francisco
517             Dubai
Name: arr_port, dtype: object

In [149]:
sol2.arr_port.map(lambda a: g.get(a.strip())['country_name'])

1088          United Kingdom
1190           United States
1050           United States
1047           United States
886            United States
315                   France
216                 Thailand
1228           United States
1719           United States
517     United Arab Emirates
Name: arr_port, dtype: object

In [153]:
def getName(aeropuerto):
    return g.get(aeropuerto.strip())['country_name']

In [156]:
sol2['arr_port'].apply(getName)

1088          United Kingdom
1190           United States
1050           United States
1047           United States
886            United States
315                   France
216                 Thailand
1228           United States
1719           United States
517     United Arab Emirates
Name: arr_port, dtype: object

In [157]:
sol2.arr_port.apply(getName)

1088          United Kingdom
1190           United States
1050           United States
1047           United States
886            United States
315                   France
216                 Thailand
1228           United States
1719           United States
517     United Arab Emirates
Name: arr_port, dtype: object

In [160]:
sol2['name']=names
sol2

      arr_port    pax                                  name
1088  LHR       88809               London Heathrow Airport
1190  MCO       70930         Orlando International Airport
1050  LAX       70530     Los Angeles International Airport
1047  LAS       69630       Mc Carran International Airport
886   JFK       66270  John F Kennedy International Airport
315   CDG       64490             Paris - Charles-de-Gaulle
216   BKK       59460                          Suvarnabhumi
1228  MIA       58150           Miami International Airport
1719  SFO       58000   San Francisco International Airport
517   DXB       55590           Dubai International Airport