In [10]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import matplotlib.pyplot as plt
%matplotlib inline

In [43]:
df1=DataFrame([[0,1,2,3,4],[5,6,7,8,9],[10,11,12,13,14]])
df1.columns=['c1','c2','c3','c4','c5']
df1

   c1  c2  c3  c4  c5
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14

In [44]:
df1=DataFrame({'c1':[0,5,10],'c2':[1,6,11],'c3':[2,7,12],'c4':[3,8,13],'c5':[4,9,14]})
df1

   c1  c2  c3  c4  c5
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14

In [47]:
df4 = DataFrame(np.arange(15).reshape(3,5),columns=['c1','c2','c3','c4','c5'])
df4

   c1  c2  c3  c4  c5
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14

In [49]:
df4['c3']+df4['c4']

0     5
1    15
2    25
dtype: int64

In [50]:
df4['c3']*df4['c4']

0      6
1     56
2    156
dtype: int64

In [54]:
df4['c6']=df4['c3']+df4['c4']
df4

   c1  c2  c3  c4  c5  c6
0   0   1   2   3   4   5
1   5   6   7   8   9  15
2  10  11  12  13  14  25

In [55]:
df4['c7']=df4['c6']-df4['c2']
df4

   c1  c2  c3  c4  c5  c6  c7
0   0   1   2   3   4   5   4
1   5   6   7   8   9  15   9
2  10  11  12  13  14  25  14

In [90]:
nrow = df4.ix[2]
nrow

c1    10
c2    11
c3    12
c4    13
c5    14
c6    25
c7    14
Name: 2, dtype: int64

In [59]:
df4.append(nrow)

   c1  c2  c3  c4  c5  c6  c7
0   0   1   2   3   4   5   4
1   5   6   7   8   9  15   9
2  10  11  12  13  14  25  14
2  10  11  12  13  14  25  14

In [61]:
df4.append(nrow,ignore_index=True)

   c1  c2  c3  c4  c5  c6  c7
0   0   1   2   3   4   5   4
1   5   6   7   8   9  15   9
2  10  11  12  13  14  25  14
3  10  11  12  13  14  25  14

In [62]:
#append does not modify dataframe
df4

   c1  c2  c3  c4  c5  c6  c7
0   0   1   2   3   4   5   4
1   5   6   7   8   9  15   9
2  10  11  12  13  14  25  14

In [66]:
df4[['c1','c5']]

   c1  c5
0   0   4
1   5   9
2  10  14

In [80]:
df4[["c"+str(x) for x in [2,3,4]]]

   c2  c3  c4
0   1   2   3
1   6   7   8
2  11  12  13

In [87]:
df4[df4.columns[1:4].values]

   c2  c3  c4
0   1   2   3
1   6   7   8
2  11  12  13

In [89]:
#Selecting rows (with boolen serie). Output=dataframe
df4[[True,False,False]]

   c1  c2  c3  c4  c5  c6  c7
0   0   1   2   3   4   5   4

In [91]:
##Selecting rows Output=serie
df4.ix[0]

c1    0
c2    1
c3    2
c4    3
c5    4
c6    5
c7    4
Name: 0, dtype: int64

In [98]:
lb = [False for i in range(len(df4))]
lb

[False, False, False]

In [101]:
lb[1]=True
lb

[False, True, False]

In [102]:
df4[lb]

   c1  c2  c3  c4  c5  c6  c7
1   5   6   7   8   9  15   9

In [107]:
def sumone(integer):
    return integer+1

In [109]:
df4.applymap(sumone)

   c1  c2  c3  c4  c5  c6  c7
0   1   2   3   4   5   6   5
1   6   7   8   9  10  16  10
2  11  12  13  14  15  26  15

In [124]:
def meanofserie(s):
    return s.mean()
df4.apply(meanofserie)

c1     5
c2     6
c3     7
c4     8
c5     9
c6    15
c7     9
dtype: float64

In [135]:
df4.apply(lambda serie: serie.mean())

c1     5
c2     6
c3     7
c4     8
c5     9
c6    15
c7     9
dtype: float64