In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
%pylab inline
from flask import Flask

Populating the interactive namespace from numpy and matplotlib

In [11]:
pd.read_json("http://localhost:5000/top/7").sort('pax',ascending=False)

      arr_port   pax
733   LHR       1006
798   MCO        861
620   JFK        795
706   LAX        761
156   BKK        747
704   LAS        732
1159  SFO        705